@import 'color';

body {
  background-color: $background-color;
  color: $font-color;
}

.box {
  border: 1px solid $white;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: $teal;
}

.big {
  float: left;
  height: 750px;
}

.small {
  float: right;
  height: 250px;
}

#test {
  visibility: hidden;
}

#instructionBoard {
  visibility: hidden;
}

#signOut {
  visibility: hidden;
}

#change-password-button {
  visibility: hidden;
}

#gameboard {
  visibility: hidden;
}

#test {
  font-size: 200px;
  text-align: center;
}

.navbar-header {
  color: black;
  text-decoration: bold;
}

#signUpTitle {
  color: black;
  text-decoration: bold;
}

#signUpBody {
  color: black;
  text-decoration: bold;  //TODO fix the linter errors. need to ask how
}
