@import 'color';

body {
  background-color: $background-color;
  color: $font-color;
}
//
// footer {
// position: fixed;
// left: 0px;
// bottom: 0px;
// width: 100%;
// }

h2 {
  text-align: center;
}

.box {
  border: 1px solid $white;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: $teal;
}

.big {
  float: left;
  height: 750px;
}

.big-right {
  float: right;
  height: 750px;
}

.small {
  float: right;
  height: 250px;
}


.hor-rule {
  display: none;
}

.cant-play {
  align-items: center;
  // float: right;
  display: none;
  position: absolute;
  text-align: center;
  z-index: 1;
}

.game-error {
  align-items: center;
  // float: right;
  display: none;
  position: absolute;
  text-align: center;
  z-index: 1;
}

.game-over-alert {
  align-items: center;
  // float: right;
  display: none;
  position: absolute;
  text-align: center;
  z-index: 1;
}

.test {
  cursor: pointer;
  font-size: 200px;
  text-align: center;
  visibility: hidden;
}

.instruction-board {
  visibility: hidden;
}

.sign-out {
  visibility: hidden;
}

.change-password-button {
  align-items: right;
  visibility: hidden;
}

// #gameboard {
//   visibility: hidden;
// }

.navbar-header {
  color: $black;
  text-decoration: bold;
}

.sign-up-title {
  color: $black;
  text-decoration: bold;
}

.sign-up-body {
  color: $black;
  text-decoration: bold;  //TODO fix the linter errors. need to ask how
}

.win-or-draw-body {
  color: $black;
  text-decoration: bold;
}

.win-or-draw {
  color: $black;
  text-decoration: bold;
}
